# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários
*.xlsx
*.log
*.tmp

# Mantenha os diretórios mas ignore conteúdo temporário
outputs/*
!outputs/.gitkeep
